body {
    margin: 0;
    background-color: #010025;
}

* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px #83b8f5;
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: #83b8f5;
    }
}

nav li a {
    color: rgb(255, 255, 255);
}

nav li:hover {
    background-color:  #83b8f5;
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: #83b8f5;
}
.bg-azul-c {
    background-color: rgb(252, 240, 240);
}
.bg-orange {
    background-color: orange;
}
.text-white {
    color: white;
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}
.etiqueta {
    color: rgb(240, 119, 6);
    font-weight: bold;
    font-size: 28px;
}
.atributo {
    color: rgb(206, 13, 174);
    font-weight: bold;
    font-size: 28px;
}
#enlaces a {
    text-decoration: underline;
    color: blue;
}
.Descustom li {
    list-style-type: square;
}
.Descustom li li {
    list-style-type: disc;
}
.Descustom li li li{
    list-style-type: circle;
}
.Ordcustom li {
    list-style-type:upper-roman;
}
.Ordcustom li li{
    list-style-type:upper-alpha ;
}
.Ordcustom li li li{
    list-style-type:decimal ;
}
.Descustomico li li {
    list-style-image: url(/img/pelota.png);
}
.Descustomico li li li{
    list-style-image: none;
}
.Listacustomdef dt{
    font-weight: bold;
    background-color: rgb(125, 211, 240);
    color: black;
    font-size: 24px;
    display: inline;
}
.tef {
    border-color: white;
}
.tec {
    border-color: white;
}
.ecabezadofc th {
    background-color: darkmagenta;
    color: aliceblue;
}
.ecabezadofc {
    border-color: white;
}
.tcfc {
    border-color: white;
}
.diseñodiferente tr:nth-child(odd) td{
    background-color: red;
}
.diseñodiferente tr:nth-child(even) td {
    background-color: yellow;
}
.horario {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-color: white;
}
.titulo {
    color: #0a8683;
    font-style: italic;
    font-size: 24px;
    background-color: white;
}
.dias {
    color: #0a8683; 
    font-weight: lighter;
    background-color: white;
}
.hora {
    color: #0a8683; 
    background-color: white;
}
.ñ {
    color: #0a8683; 
    font-weight:bolder;
    background-color: white;
}
.rellenohor {
    background-color: white;
}
.BDD {
    background-color: #81ff81;
    font-weight: normal;
    color: black;
}
.PROG {
    background-color: #64b4ef;
    font-weight: normal;
    color: black;
}
.SISI {
    background-color: #65aa97;
    font-weight: normal;
    color: black;
}
.LMSG {
    background-color: #d2d26f;
    font-weight: normal;
    color: black;
}
.PIMD {
    background-color: #fec89a;
    font-weight: normal;
    color: black;
}
.IPCG {
    background-color: #fea363;
    font-weight: normal;
    color: black;
}
.ENDE {
    background-color: #c7a1c8;
    font-weight: normal;
    color: black;
}
.SASP {
    background-color: #29c7c6;
    font-weight: normal;
    color: black;
}
.DASP {
    background-color: #fcfe60;
    font-weight: normal;
    color: black;
}
.IPE- {
    background-color: #fe817f;
    font-weight: normal;
    color: black;
}
.recreo {
    color: #0a8683;
    background-color: white;
}
.formlogin {
    float: left;
    width: 25%;
}
.formregis {
    float: right;
    width: 50%;
} 
.cuadradotexto {
    width: 300px;
    height: 100px;
}
.InputsHTML5 {
    width: 35%;
    margin: 0 auto;
}
.btn {
    border: 0;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    background-color: #83b8f5;
}
.cb {
    clear: both;
}
.InputsHTML5c {
    background-color: #b2fdfd;
}
.titulohtml5 {
    background-color: #160344;
    color: white;
    font-size: 24px;
}
.btnmarron {
    border: 0;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    background-color: #4e0606;
}
.InputsHTML5 label {
    background-color: #83b8f5;
    color: #3d0000;

}
.col3 {
    width: 33.3%;
    float: left;
}
.col3 img {
    padding: 4px;
}
video {
    display: block;
    width: 50%;
    margin: 0 auto;
}
audio {
    display: block;
    margin: 0 auto;
}